.search {
  padding: 70px 70px 10px;
}

.search__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
  border-radius: 9px;
  background: #222222;
}

.search__input {
  background: inherit;
  border: none;
  outline: 0;
  padding: 0;
  color: #FFFFFF;
}

.search__btn {
  border: none;
  outline: none;
  padding: 0;
  width: 59px;
  height: 34px;
  border-radius: 48px;
  background: #4285F4;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
}